# https://blog.matterxiaomi.com/blog/ESPresense-detection-3/
# https://blog.csdn.net/sinat_15906013/article/details/147806199

esphome:
  name: esp32-c3-devkitm-1-no1
  friendly_name: esp32-c3-devkitm-1-no1

esp32:
  board: esp32-c3-devkitm-1
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
#  encryption:
#    key: "DeHWqkCQutko0Kg7L5rCBbmiAY6KaB8FYRVq7elF5xQ="

ota:
  - platform: esphome
    password: "e64017b88de7a6a2c7fd8dea47243078"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esp32-C3-Devkitm-1-No1"
    password: "uo3Ckh2OEQbO"

captive_portal:



#
# onboard LED on the ESP32-C3-DevKitC-02
# https://www.matterxiaomi.com/boards/topic/29105/esphome/page/2#46626
# 
output:
  - id: led_18
    platform: ledc
    pin: GPIO18

light:
  - platform: monochromatic
    name: esp32c3-01 led 18
    output: led_18    

text_sensor:
  # https://esphome.io/components/text_sensor/version
  - platform: version
    name: "Version"
  # https://esphome.io/components/text_sensor/wifi_info
  - platform: wifi_info
    mac_address:
      name: "Mac"
    ip_address:
      name: "IP"
      update_interval: 1min
    dns_address:
      name: "DNS"
      update_interval: 1min
    ssid:
      name: "SSID"
      update_interval: 1min
    bssid:
      name: "BSSID"
      update_interval: 1min

    